body {
    background-color: hsl(0, 0%, 95%);
    min-width: 375px;
    max-width: 100%;
}
@font-face {
    font-family: bigShould;
    src: url(fonts/BigShouldersDisplay-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Lexend;
    src: url(fonts/lexend/LexendDeca-VariableFont_wght.ttf);
    font-weight: 400;
}

div {    
    padding: 10px;
    display:flex;
    flex-direction:column;

}

#sedans {
    background-color: #E28525;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#suvs{
    background-color: #016972;

}

#luxury{
    background-color: #00403F;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

h2{
    color: white;
    font-family: bigShould;
    src: url();

}

p {
    color: white;
    font-family: Lexend;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 30px;
    background-color: white;
    border-color: white;
    border-style: solid;
}

button:hover {
    background-color: transparent;
    border-color: white;
    box-shadow: 0;
    color: white;
    border-style: solid;
}
